/**
*The CatApp CSS styling.
*author: Jakub Gadkowski
*version:0.8.2
*/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Actual Style starts here */

html, body {
	width: 100%;	
	height: 100%;
	margin:0;
	padding:0;
}

#start_menu,
#end_menu,
#play,
#download_menu {
	background: rgb(241,231,103); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgb(241,231,103) 0%, rgb(254,182,69) 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgb(241,231,103)), color-stop(100%,rgb(254,182,69))); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  rgb(241,231,103) 0%,rgb(254,182,69) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  rgb(241,231,103) 0%,rgb(254,182,69) 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  rgb(241,231,103) 0%,rgb(254,182,69) 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  rgb(241,231,103) 0%,rgb(254,182,69) 100%); /* W3C */
}

#start_menu,
#end_menu,
#download_menu {
	color:#ff6500;
	width: 100%;
	height: 100%;
	margin: 0;
	text-align:center;
}

#start_items,
#end_items {
	position:absolute;
	top:5%;
	width: 100%;
}

#end_items {
	top:25%;
}

#start_game {
	display: inline-block;
	padding: 0;
	text-indent:-99999px;
	width: 265px;
	height:58px;
}

#start_game,
#restart,
#sprite_type,
#movement_type,
#send_results,
#clear_results,
#score, 
#end {
    background-image: url('../images/sprite_v3@1x.png');
}

#start_game {
    background-position: 0 0;
}

#restart {
    background-position: 0 -58px;
}

#sprite_type,
#movement_type {
    display:block;
    height:58px;
    margin: 0 auto;
    width: 261px;
    text-indent:-99999px;
}

#sprite_type.mouse {
    background-position: 0 -342px;
}

#sprite_type.pointer {
    background-position: 0 -400px;
}

#movement_type.bio {
    background-position: 0 -458px;
}

#movement_type.non_bio {
    background-position: 0 -516px;
}

#end_menu {
}

#end_info {
	color:#333;
	font-size: 12px;
	font-family: helvetica, sans-serif;
	line-height: 1.3em;
        overflow: scroll;
	margin-bottom: 15px;
        text-transform: uppercase;
}

#restart,
#send_results,
#clear_results {
        cursor: pointer;
        display: block;
        float: left;
	padding: 0;
	text-indent:-99999px;
	width: 265px;
	height:58px;
}

#send_results {
    background-position: 0 -232px;
    width: 200px;
}

#clear_results {
    background-position: 0 -284px;
    float: right;
    width: 230px;
}

#start_items #send_results,
#start_items #clear_results {
    display: block;
    float: none;
    margin:0 auto;
}

#start_items #send_results.wait_anim,
#send_results.wait_anim {
    background-image: url('../images/wait_icon.gif');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#play {
	background-color: rgb(241,231,103);
}

#menu {
	color:#fafafa;
	width: 90%;
	height: 58px;
	padding-top:5px;
	margin: 0 auto;
	overflow: auto;
}

#score, 
#end {
	height: 58px;
}

#score {
	background-position: 0 -116px;
	width:105px;
}

#end {
	background-position: 0 -174px;
	width:163px;
}

#points {
	margin-left: 116px;
	margin-top: 20px;
	font-size: 36px;
	line-height: 48px;
	font-family: courier, Georgia, serif;
	color: #FF8D1D;
	font-weight: bold;
	text-shadow: 2px 2px 0px #8C6048,
				 -2px 2px 0px #8C6048,
				 2px -2px 0px #8C6048,
				 -2px -2px 0px #8C6047,
				 -3px 0px 0px #8C6047;
}

#scene {
	
	background: #000;
	width: 100%;
	height: 100%;
	overflow: auto;
        -moz-user-select: none;
        -webkit-user-select:none;
}

#pointer {
   /* background: red; */
    background-image: url('../images/mouse@1x.png');
    background-size: 467px 119px;
    background-position: left center;
    width: 235px;
    height: 119px;
/*    border-radius: 75px; */
    position: absolute;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0);
}

#download_items,
#download_items table,
#download_items a{
    color: #333;
    font-family: 'Lucida grande', Arial, sans-serif;
}

#download_items {
    height: auto;
    padding-top: 20px;
    width: 100%;
}

#download_items table {
    min-width: 600px;
    width: auto;
    margin:0 auto;
    margin-bottom: 20px;
}

#download_items table th {
    color: #f9f9f9;
    background-color: #663402;
    padding: 8px 5px;
}

#download_items table td {
    padding: 6px 5px;
}

.download_button,
.download_button_small {
	font-family: 'Lucida grande', Arial, sans-serif;
	font-size: 14px;
	color: #000000;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#fff3db 0%,
		#ffc821 25%,
		#ff3c00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#fff3db),
		color-stop(0.25, #ffc821),
		to(#ff3c00));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #663402;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5);
	text-shadow:
/*		0px 0px 0px rgba(000,000,000,0);*/
		1px 1px 0px rgba(255,255,255,0.4);
        text-decoration: none;
        -moz-transition: -moz-box-shadow, 0.5s;
        -webkit-transition: -webkit-box-shadow, 0.5s;
        transition: box-shadow, 0.5s;
}

.download_button_small {
    padding: 3px 5px;
}

.download_button:hover,
.download_button_small:hover {
    cursor: pointer;
    text-decoration: underline;
    -moz-box-shadow:
		2px 3px 5px rgba(000,000,000,0.5);
	-webkit-box-shadow:
		2px 3px 5px rgba(000,000,000,0.5);
	box-shadow:
		2px 3px 5px rgba(000,000,000,0.5);
}


/* CSS Anims */
@-webkit-keyframes scoredHit {
	/*50% { -webkit-transform: scale(1.2); }*/
	From { box-shadow: inset 0 0 75px 75px transparent, 0 0 0 transparent} 
	To { box-shadow: inset 0 0 3px 3px rgba(255,0,0,0.5), 0 0 75px 50px rgba(255,0,0,0)}
}

.hit {
	-webkit-animation: scoredHit .5s 1;
	-webkit-transform-origin: center;
	
}

.alignleft {
	display: block;
	float: left;
}

.alignright {
	display: block;
	float: right;
}

/**** media queries ***/


/*		Tablet Layout: more then 480px
-----------------------------------------------------------
*/

@media only screen and (min-width: 321px) and (max-width: 767px) {

}



/*		Mobile Layout horizontal : less then 480px.
-----------------------------------------------------------
*/

@media only screen and (max-width: 320px) {
	body {
		
	}	
}



/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {

	body {
		
	}	

	#start_game,
	#restart,
        #sprite_type,
        #movement_type,
	#score, 
	#end,
        #send_results,
        #clear_results {
		background-image: url('../images/sprite_v3@2x.png');
		background-size: 265px 574px;
	}
	
	#start_game {
		background-position: 0 0;
	}

	#restart {
		background-position: 0 -58px;
	}
	
	#score {
		background-position: 0 -116px;
		width:105px;
	}
	
	#end {
		background-position: 0 -174px;
		width:163px;
	}
	
        #send_results {
            background-position: 0 -232px;
        }

        #clear_results {
            background-position: 0 -284px;
        }
        
	#pointer {
	   /* background: red; */
		/*background-image: url('../images/laser@2x.jpg');*/
	}

}